body {
  /* background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef); */
  background-image: url("../images/1.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  font-family: "IBM Plex Mono", monospace;
}

header {
  padding: 20px;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.container {
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 0px auto;

  margin-top: 30px;
  margin-bottom: 80px;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

h1 {
  font-size: 48px;
  color: antiquewhite;
}

h2 {
  margin: 5px 0 30px;
  font-size: 24px;
  color: antiquewhite;
}

.container ol {
  list-style: none;
}

li {
  margin: 10px 0;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: all 150ms ease-in;
}

li:hover {
  background: rgba(255, 255, 255, 0.1);
}

li:hover a {
  color: white;
  font-weight: 400;
}

li a {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 24px;
}

footer {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
  text-align: center;
  bottom: 0;
  background: rgba(0, 0, 0);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

footer a,
footer div {
  color: rgba(255, 255, 255, 0.3);
}

footer a:hover {
  color: rgba(255, 255, 255, 0.7);
}
