:root {
  --font: "Rosario", sans-serif;
  --secondary-font: Volkhov, serif;
  --main-color: #000000;
  --secondary-color: #fffcfc;
  /* --background-color: #e5e5e5; */

  --cards-background: rgba(163, 83, 10, 0.7);
}

@font-face {
  font-family: Volkhov;
  src: url("../style/fonts/Volkhov/Volkhov-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: var(--font);
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.div-height {
  height: 95vh;
  width: 95%;
  margin: 0 auto;
  padding-top: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: var(--main-color);
  vertical-align: middle;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 5;
}

.logo {
  background-color: var(--secondary-color);
}

.logo img {
  width: auto;
  height: 80px;
}

.navigation ul {
  display: flex;
  justify-content: right;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  /* width: 80%; */
}

.navigation li {
  margin-right: 3%;
}

.navigation a {
  font-family: var(--font);
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  color: #fffcfc;
  text-decoration: none;
}

/* <!-- Gallery -- >  */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 3%;
  max-width: 100%;
}

.hero div {
  box-sizing: border-box;
  overflow: hidden;
}

.hero > div {
  position: relative;
  width: 20%;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
    visibility: visible;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
    visibility: visible;
  }
}

.hero > div:first-child {
  animation: slide-right 2s ease 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.hero > div:nth-child(2) {
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  z-index: 4;
}

.hero > div:last-child {
  animation: slide-left 2s ease 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.hero-middle-item > div {
  width: 48%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.hero-middle-item > div:nth-child(odd) {
  visibility: hidden;
  animation: slide-right 2s ease;
  animation-fill-mode: forwards;
}

.hero-middle-item > div:nth-child(even) {
  visibility: hidden;
  animation: slide-left 2s ease;
  animation-fill-mode: forwards;
}

.hero img {
  width: 100%;
  height: 100%;
}

/* services */

.primary-content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2% 0;
  justify-content: space-between;
}

.primary-content > div {
  width: 47%;
  text-align: center;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}
.primary-content-services {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap; */

  padding-top: 5%;
  position: relative;
  height: 600px;
}

.primary-content-services > div {
  width: 40%;
  position: absolute;
  /* visibility: hidden; */
  animation-fill-mode: backwards;
}

.primary-content > div:last-child {
  height: auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes rotate1 {
  25% {
    transform: translate(350px, 0px);
    visibility: visible;
  }
  50% {
    transform: translate(350px, 290px);
  }
  75% {
    transform: translate(0px, 290px);
  }
}

@keyframes rotate2 {
  25% {
    transform: translate(0px, 290px);
    visibility: visible;
  }
  50% {
    transform: translate(-350px, 290px);
  }
  75% {
    transform: translate(-350px, 0px);
  }
}

@keyframes rotate3 {
  25% {
    transform: translate(-350px, 0px);
    visibility: visible;
  }
  50% {
    transform: translate(-350px, -290px);
  }
  75% {
    transform: translate(0px, -290px);
  }
}

@keyframes rotate4 {
  25% {
    transform: translate(0px, -290px);
    visibility: visible;
  }
  50% {
    transform: translate(350px, -290px);
  }
  75% {
    transform: translate(350px, 0px);
  }
}

.primary-content-services > div:first-child {
  animation: rotate1 5s linear infinite;
}

.primary-content-services > div:nth-child(2) {
  left: 350px;
  animation: rotate2 5s linear infinite;
}

.primary-content-services > div:nth-child(3) {
  animation: rotate3 5s linear infinite;
  left: 350px;
  top: 350px;
}

.primary-content-services > div:last-child {
  animation: rotate4 5s linear infinite;
  top: 350px;
  left: 0px;
}

.primary-content img {
  width: 85%;
  height: auto;
}

.primary-content > div:last-child img {
  width: 100%;
  height: auto;
}

.primary-content p {
  font-family: var(--font);
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

/* <!-- team -- >  */

.secondary-content {
  padding-top: 5%;
  display: block;
  margin: 0 auto;
}

.secondary-content h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  padding-top: 3.5%;
  margin-bottom: 3%;
  color: var(--main-color);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards:hover > div {
  filter: brightness(0.5);
}

.cards > div {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 30px;
  height: 70vh;
  margin-right: 1%;
  transition: all 200ms;
}

.cards div:hover {
  filter: none;
  cursor: pointer;
}

.secondary-content img {
  width: auto;
  height: 100%;
}

.image-container > div {
  width: 100%;
  height: 120px;
  background-color: var(--cards-background);
  position: relative;
  top: -120px;
  display: none;
  font-family: var(--secondary-font);
  font-size: 48px;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 10%;
}

.image-container:hover > div {
  display: block;
}

.image-container:first-of-type > div::after {
  content: "Meredith";
}

.image-container:nth-of-type(3) > div::after {
  content: "James";
}

/* Reviews */

.call-to-action {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.call-to-action form {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.call-to-action table {
  width: 100%;
  margin: 20px 0;
}

.call-to-action table,
.call-to-action tr,
.call-to-action td {
  border: 20px solid #e5e5e5;
}

.contact-info {
  display: flex;
  justify-content: center;
}
.call-to-action h2 {
  font-family: var(--font);
  font-style: italic;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: var(--main-color);
  padding: 10px;
}

table input,
table textarea {
  width: 100%;
  border: none;
  font-family: var(--font);
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  padding-left: 7px;
  /* color: rgba(0, 0, 0, 0.5); */
}

table ::placeholder {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 7px;
}

table .message {
  resize: none;
}

.reviews {
  width: 40%;
}

.call-to-action iframe {
  width: 400px;
  height: 400px;
  border: none;
  padding-top: 3%;
}

/* Contact */

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: top;
  padding-bottom: 10px;
}

.footer > div {
  margin-right: 5%;
}

.bold-text {
  font-style: normal;
  font-weight: 700;
}

.footer h3 {
  margin-bottom: 15px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 36px;
}

.footer li,
.footer a {
  font-family: var(--font);
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--main-color);
  text-decoration: none;
}

.footer p {
  font-family: var(--font);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
}

.social-media li {
  vertical-align: center;
  text-align: left;
  margin-left: 20px;
}

.footer div:last-child li {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}

.social-media img {
  height: 20px;
  width: auto;
  margin-right: 5px;
}
