:root {
  /* main elements */
  --background-blue-1: #487bde;
  --background-blue-2: #1b99c1;
  --background-blue-3: #2d68da;
  --background-blue-4: #6448ff;
  --background-violet: #9328fe;
  --background-green: #14ae5c;
  --background-orange-1: #ff8a00;
  --background-orange-2: #ff7043;
  --background-red: #ff4343;
  /* footer table */
  --background-grey: #699797;
  --background-grey-violet: #976995;
}

/* Inter Font */

@font-face {
  font-family: regular;
  src: url("../style/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: title;
  src: url("../style/fonts/Inter-SemiBold.ttf");
}

/* Animation zoom+rotate */

@keyframes zoomElement {
  25% {
    transform: scale(1.5) rotate(-5deg);
  }
  50% {
    transform: scale(1.5) rotate(0deg);
  }
  75% {
    transform: scale(1.5) rotate(5deg);
  }
  20% {
    transform: scale(1.5) rotate(0deg);
  }
}

.container {
  text-align: center;
}

h1 {
  font-family: title, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
}

.table {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 1200px;
  font-family: regular, sans-serif;
}

.table__element_hidden {
  visibility: hidden;
}

.table .table_empty-row td {
  height: 30px;
}

td {
  position: relative;
  width: 60px;
  height: 60px;
}

.table__element {
  padding-top: 10%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5%;
  justify-content: baseline;
  transition: all 0.2s;
}

table:hover .table__element {
  filter: brightness(0.5);
}

.table .table__element:hover {
  animation: zoomElement 0.5s linear 0.2s;
  transform: scale(1.5);
  font-size: 1.5em;
  border: 1px solid white;
  box-shadow: 0 0 12px #ddd;
  z-index: 5;
  filter: none;
}

.table__element__index {
  font-size: 8px;
}

.table__element__title {
  font-size: 14px;
  line-height: 18px;
  font-family: title, sans-serif;
}

.table__element__subtitle {
  font-size: 8px;
}

.table__element__subtitle_no-title {
  font-size: 8px;
  line-height: 13px;
}

.table__row_more-space td {
  margin-bottom: 20px;
}

.table__element_blue-1 {
  background-color: var(--background-blue-1);
}
.table__element_blue-2 {
  background-color: var(--background-blue-2);
}
.table__element_blue-3 {
  background-color: var(--background-blue-3);
}
.table__element_blue-4 {
  background-color: var(--background-blue-4);
}
.table__element_violet {
  background-color: var(--background-violet);
}
.table__element_green {
  background-color: var(--background-green);
}
.table__element_orange-1 {
  background-color: var(--background-orange-1);
}
.table__element_orange-2 {
  background-color: var(--background-orange-2);
}
.table__element_red {
  background-color: var(--background-red);
}
/* footer table */
.table__element_grey {
  background-color: var(--background-grey);
}
.table__element_grey-violet {
  background-color: var(--background-grey-violet);
}
