/* font-family: ;
font-family: 'M PLUS 1', sans-serif;
font-family: 'Marcellus SC', serif; */
body {
  font-family: "Inika", serif;
  font-weight: 700;
}

.header {
  min-height: 70px;
  text-align: center;
}

.blue-text {
  color: #3e45e8;
  font-size: 48px;
}

.yellow-text {
  color: #e8c23e;
}

.banner {
  background-image: url("../images/fortress.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 80px;
  padding-top: 160px;
  padding-bottom: 285px;
  max-height: 803px;
}

.content {
  font-size: 48px;
  color: white;

  background-image: url("../images/flag.png");
  background-repeat: no-repeat;
  padding-left: 50px;
  box-sizing: border-box;
  max-width: 80%;
  height: 272px;
}

.main {
  margin-left: 80px;
}

h1 {
  font-size: 40px;
  line-height: 153%;
  color: #000;
}

.card {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 30px 30px 10px 10px;
}

.card__margin {
  margin: 0 4%;
}

.card__image {
  width: 100%;
}

.card__title,
.card__subtitle {
  padding-left: 5px;
}
