:root {
  --main-color: #006373;
  --main-color-light: #bfd5c0;
  --secondary-color: #e8891d;

}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico.ttf);
} 

body {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.header__title {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 10px 10px var(--secondary-color);
  transition: all 150ms;
}

.header__title:hover{
  box-shadow: 10px 10px var(--main-color);
}

.app {
  width: 600px;
  display: block;
  margin: auto;
  border: 1px solid var(--main-color);
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 15px 15px var(--secondary-color);
  margin-bottom: 30px;
  transition: all 150ms;
}

.app:hover{
  box-shadow: 15px 15px var(--main-color);
  transition: all 150ms;
}

.app__input {
  width: 50%;
  padding: 7px;
  border: 0.5px solid var(--main-color);
  border-radius: 5px;
}

.app__inp-btn {
  background-color: #bfd5c0;
  padding: 7px 14px;
  border: 0.5px solid var(--main-color);
  border-radius: 5px;
  transition: all 150ms;
}

.app__inp-btn:hover {
  background-color: var(--main-color);
  color: var(--main-color-light);
}

.app__tasklist {
  list-style: none;
  text-align: left;
  padding: 0;
}

.app__list-item {
  padding: 10px;
  transition: all 150ms;
  position: relative;
  font-family: cursive;
}

.app__list-item:nth-child(odd) {
  background-color: var(--main-color-light);
}

.app__list-item:hover {
  background-color: var(--main-color);
  color: var(--main-color-light);
  cursor: pointer;
}

.app__remove-btn {
  position: absolute;
  right: 15px;
  font-family: cursive;
}

.app__remove-btn:hover {
color: transparent;  
}


.app__remove-btn:hover::after{
  content: "remove";
  color:var(--secondary-color);
  background-color: #006373;
}

.footer__content {
  font-size: 0.7rem;
}

.done {
  text-decoration: line-through;
}

.done::before {
  content: "✔  ";
}
