:root {
  --main-color: #171717;
  --secondary-color: #0050d8;
  --highlight-color: #d83933;
  --font-size-main: 16px;
  --main-font: "Public Sans", sans-serif;
}

body {
  color: var(--main-color);
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
  min-width: 700px;
  max-width: 1000px;
  padding: 20px 43px;
  background-color: #e5e5e5;
}

h1 {
  padding: 60px 0 80px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.form-section {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 20px;
}

.flex-col {
  display: flex;
  justify-content: space-between;
  align-items: end;
  vertical-align: bottom;
  margin-bottom: 12px;
  margin-top: 12px;
}

.flex-col > div {
  width: 48%;
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-bottom: 32px;
}

input {
  line-height: 1.7rem;
  display: block;
  width: 48%;
  box-sizing: border-box;
  margin-top: 8px;
  padding-left: 8px;
  border: 1px solid #adadad;
  font-family: var(--main-font);
  font-size: var(--font-size-main);
}

select {
  padding: 4px 7px;
  display: block;
  width: 50%;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid #adadad;
  font-family: var(--main-font);
  font-size: var(--font-size-main);
}

.flex-col input,
.flex-col select {
  width: 100%;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

.last-form-section {
  padding-bottom: 30px;
}

form > div:last-child {
  display: flex;
  justify-content: end;
}

input[type="submit"] {
  background-color: #0050d8;
  color: white;
  border-color: #0050d8;
  width: 4rem;
  margin-top: 16px;
}

.dark-highlight {
  color: var(--secondary-color);
}

.light-highlight {
  color: var(--highlight-color);
}

.calendar-background {
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 0.4rem bottom 0.4rem;
  background-size: 1rem;
}

.search-background {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem bottom 0.4rem;
  background-size: 1rem;
}

.arrow-background {
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 0.3rem bottom 0.3rem;
  background-size: 1rem;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: start;
}
