* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  display: block;
  margin: auto;

}

.header {
  text-align: center;
}

.header__img {
  margin-bottom: 15px;
  margin-top: 15px;
}

.tab {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.tab__navigation {
  display: flex;
  justify-content: space-around;

}

.tab__title {
  padding: 10px;
  width: 33.3%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);

  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.tab__title:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.tab__title_active {
  border-bottom: none;
  background-color: white;
}

.tab__title_active:hover {
  background-color: white;
  cursor: auto;
}


.tab__item {
  display: none;
  padding: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  text-align: center;
  line-height: 1.2rem;
  transition: all 0.2s;
  overflow: hidden;
  box-sizing: border-box;
}

.tab__item_active {
  display: block;
}