body {
  background-color: #f1f1f1;
}



.app {
  padding-top: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.app__headerTitle {
  font-size: 28px;
  line-height: 42px;
}

.app__keyInfo {
  font-size: 16px;
  margin: 5px 0 30px 0;

}

.app__keyCode {
  font-size: 120px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #204ecf;
}

.app__callToAction {
  font-size: 28px;
  line-height: 42px;
  margin: 10%;
  padding: 55px 110px;
  border: 1px solid grey;
  background-color: #fff;
  box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.5);
}

.app__cards {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

.app__card {
  box-sizing: border-box;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.5);
  transition: all 150ms;
  background-color: #fff;
}

.app__card:hover {
  transform: scale(1.05);
}

.app__cardTitle {
  width: 100%;
  margin: 0;
  font-size: 16px;
  padding: 14px 0;
  text-align: center;
  color: white;
  background-color: #204ecf;
}

.app__cardKey {
  width: 100%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__cardDescription {
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  padding: 16px;
  line-height: 20px;
  background-color: #e1e1e1;
  min-height: 40px;
  text-align: left;
}

.app__history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
  align-items: center;
  height: 150px;
  padding-bottom: 35px;
}

.app__historyEl {
  min-width: 50px;
  padding: 0 5px;
  height: 60px;
  border: 1px solid grey;
  /* box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.3); */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: normal;
  transition: all 50ms;
}

.app__historyEl:hover {
  cursor: pointer;
  /* box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.7); */
  color: #204ecf;
  border-color: #204ecf;
}

.hidden {
  display: none;
}

@media screen and (max-width:900px) {
  .app__cards {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 40px;

  }

  .app__keyCode {
    font-size: 48px;
    margin: 15px 0;
  }



}