:root {
  --font: "Rosario", sans-serif;
  --secondary-font: "Volkhov", serif;
  --main-color: #000000;
  --secondary-color: #fffcfc;
  /* --background-color: #e5e5e5; */

  --cards-background: rgba(163, 83, 10, 0.7);
}

body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: var(--font);
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: var(--main-color);
  vertical-align: middle;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.logo {
  background-color: var(--secondary-color);
}

.logo img {
  width: auto;
  height: 80px;
}

.navigation ul {
  display: flex;
  justify-content: right;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  /* width: 80%; */
}

.navigation li {
  margin-right: 3%;
}

.navigation a {
  font-family: var(--font);
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  color: #fffcfc;
  text-decoration: none;
}

/* <!-- Gallery -- >  */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 3%;
  max-width: 100%;
  padding: 2%;
  margin-bottom: 50px;
}

.hero div {
  box-sizing: border-box;
  overflow: hidden;
}

.hero > div {
  position: relative;
  width: 20%;
}

@keyframes slide-right {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}

.hero > div:first-child {
  animation: slide-right 3s ease;
}

.hero > div:nth-child(2) {
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 15px;

  z-index: 4;
}

.hero > div:last-child {
  animation: slide-left 3s ease;
}

.hero-middle-item > div {
  width: 48%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.hero-middle-item > div:nth-child(odd) {
  animation: slide-right 1s ease;
}

.hero-middle-item > div:nth-child(even) {
  animation: slide-left 1s ease;
}

.hero img {
  width: 100%;
  height: 100%;
}

/* services */

.primary-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.primary-content > div {
  width: 47%;
  text-align: center;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}
.primary-content-services {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.primary-content-services > div {
  width: 43%;
}

.primary-content > div:last-child {
  height: auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes round-anim {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.primary-content-services > div:first-child img {
  animation: round-anim 20s linear infinite;
}

.primary-content-services > div:nth-child(2) img {
  animation: round-anim 20s linear 5s infinite;
}

.primary-content-services > div:nth-child(3) img {
  animation: round-anim 20s linear 10s infinite;
}

.primary-content-services > div:last-child img {
  animation: round-anim 20s linear 15s infinite;
}

.primary-content img {
  width: 85%;
  height: auto;
}

.primary-content > div:last-child img {
  width: 100%;
  height: auto;
}

.primary-content p {
  font-family: var(--font);
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

/* <!-- team -- >  */

.secondary-content {
  max-width: 95%;
  display: block;
  margin: 0 auto;
}

.secondary-content h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
  color: var(--main-color);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cards:hover > div {
  filter: brightness(0.5);
}

.cards > div {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 30px;
  height: 500px;
  margin-right: 1%;
  transition: all 200ms;
}

.cards div:hover {
  filter: none;
  cursor: pointer;
}

.secondary-content img {
  width: auto;
  height: 100%;
}

.image-container > div {
  width: 100%;
  height: 120px;
  background-color: var(--cards-background);
  position: relative;
  top: -120px;
  display: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 48px;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 10%;
}

.image-container:hover > div {
  display: block;
}

.image-container:first-of-type > div::after {
  content: "Meredith";
}

.image-container:nth-of-type(3) > div::after {
  content: "James";
}

/* Reviews */

.call-to-action {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.call-to-action form {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.call-to-action table {
  width: 100%;
  margin: 20px 0;
}

.call-to-action table,
.call-to-action tr,
.call-to-action td {
  border: 20px solid #e5e5e5;
}

.contact-info {
  display: flex;
  justify-content: center;
}
.call-to-action h2 {
  font-family: var(--font);
  font-style: italic;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  color: var(--main-color);
  padding: 10px;
}

table input,
table textarea {
  width: 100%;
  border: none;
  font-family: var(--font);
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  padding-left: 7px;
  /* color: rgba(0, 0, 0, 0.5); */
}

table ::placeholder {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 7px;
}

table .message {
  resize: none;
}

/* Contact */

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: top;
  padding-bottom: 15px;
}

.footer > div {
  margin-right: 5%;
}

.bold-text {
  font-style: normal;
  font-weight: 700;
}

.footer h3 {
  margin-bottom: 15px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 36px;
}

.footer li,
.footer a {
  font-family: var(--font);
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--main-color);
  text-decoration: none;
}

.footer p {
  font-family: var(--font);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
}

.social-media li {
  vertical-align: center;
  text-align: left;
  margin-left: 20px;
}

.footer div:last-child li {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}

.social-media img {
  height: 20px;
  width: auto;
  margin-right: 5px;
}
