:root {
  --secondary-color: #b5657666;
  --main-color: #b56576;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: auto;
}

.header__title {
  text-align: center;
  color: var(--main-color);
}

.form__row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;

}

.form_border-top {
  border-top: 1px solid var(--secondary-color);
  padding: 20px 0;
}

.form_justify-btn {
  grid-template-columns: 40% 40%;
  text-align: center;
  justify-content: space-around;
}

.form__link {
  color: black;
  text-decoration: none;
}

.form__btn {
  padding: 12px 24px;
  border-radius: 30px;
  color: black;
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color);
  transition: all 150ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__btn:hover {
  background-color: var(--main-color);
  color: white;

}

.form__inp {
  padding: 7px;
}

.hidden {
  display: none;
}

.red-font {
  color: red;
  text-decoration: underline;
}