.container {
  background: #fbe4ff;
  font-family: "PT Sans", sans-serif;
}

.content-container {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.header {
  background-color: #243b93;
  padding: 7px 0;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.logo img {
  width: 140px;
  height: 50px;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav-item {
  padding-top: 10px;
  margin-right: 35px;
  vertical-align: middle;
}

.nav-item a {
  font-weight: 700;
  font-size: 16px;
  align-items: center;

  letter-spacing: 0.16em;
  color: white;

  vertical-align: middle;
  text-decoration: none;
}

.globe {
  display: flex;
  justify-content: left;
}

.globe p {
  font-weight: 700;
  font-size: 28px;
  color: white;
  vertical-align: middle;
  line-height: 50px;
}

.globe img {
  width: 56px;
  height: 50px;
}

.booking-header {
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.blue-background {
  background-color: #bff0ff;
}

.booking {
  position: relative;
}

.filter {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  position: relative;
  padding: 10px 0;
}

.filter img {
  display: inline;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.booking-item {
  background: #2cbdeb;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  vertical-align: middle;
  transition: all 150ms;
}

.booking-image {
  margin-right: 30px;
  max-width: 35%;
  box-sizing: border-box;
  overflow: hidden;
}

.booking-image img {
  display: inline-block;
}

.content {
  position: relative;
  width: 65%;
}

.booking-details h3 {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #353c57;
  border-bottom: 3px solid white;
  margin-bottom: 15px;
}

.star-five svg {
  position: absolute;
  right: -16px;
  top: -16px;
}

.booking-descroption {
  background-color: #edfbff;
  position: relative;
  height: 180px;
}

.booking-descroption p {
  color: #202846;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 1% 5% 0 1%;
}

.detail-button {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  background: #243b93;
  border-radius: 30px;
  border: 1px solid #243b93;
  padding: 12px 40px;
  position: absolute;
  right: -60px;
  bottom: -15px;
  color: white;
  transition: all 150ms;
}

.booking-item:hover {
  box-shadow: 0 0 25px #2cbdeb;
}

.booking-item:hover .detail-button {
  background-color: #ef075b;
  border-color: #ef075b;
}

.booking-item:hover path {
  fill: #fff500;
}

.arrow-up img {
  position: absolute;
  right: -75px;
  top: 1180px;
}

.arrow-up img:hover {
  box-shadow: 0 0 15px blueviolet;
  border-radius: 50%;
}

.personal-header {
  margin: 40px 0;
  background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
}

.account-container {
  display: flex;
  padding-bottom: 40px;

  justify-content: space-evenly;
  background: linear-gradient(
    180deg,
    #859eff 0%,
    rgba(105, 255, 210, 0.5) 100%
  );
  overflow: scroll;
}

.account-photo {
  text-align: center;
  margin-top: 77px;
  margin-bottom: 35px;
}

.button {
  text-align: center;
  margin-top: 45px;
}
.button a {
  background: #243b93;
  border-radius: 30px;
  padding: 12px 44px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 31px;
}

.button-pink a {
  background: #ef075b;
}

.personal-info {
  color: #353c57;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  padding-top: 40px;
}

.personal-info div {
  border-bottom: 3px solid #ffffff;
  padding: 0.65em;
}

.personal-info div:last-child {
  border-bottom: none;
}

.plain-text {
  font-weight: 400;
}

.contact-info {
  margin: 40px 0;
  background: linear-gradient(90deg, #54d6ff 0%, #ffe600 100%);
}

.contact-info-content {
  display: flex;
  justify-content: flex-start;
}

.contact-div {
  width: 90%;
}

.contact-div p {
  display: inline;
  border-top: 3px solid #202846;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
}

.iframe {
  border: 3px solid #243b93;
  border-radius: 40px;
}

.contact-div iframe {
  max-width: 400px;
  border-radius: 40px;
  height: 250px;
}

.contact-div .border {
  margin: 10px 0 20px;
}

.footer {
  margin-top: 28px;
  background: #243b93;
  padding: 23px;
}

.footer p {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  letter-spacing: 0.16em;
  color: white;
}
