:root {
  font-size: 16px;
  color: white;
  --bg-blue: #95CFD5;
  --bg-pink: #E0ADC5;
  --bg-red: #C42129;
  --bg-beige: #F5C7B3;
}

@font-face {
  font-family: Poppins500;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins600;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins700;
  src: url("../fonts/Poppins-Bold.ttf");
}

.body {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  line-height: 4rem;
  align-items: center;
  box-sizing: border-box;
}

.header__logo {
  width: 120px;
  height: auto;
  vertical-align: middle;
}

.header__navigation {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.header__link-container {
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 3px solid #00000000;
  transition: all 150ms ease-in;
}

.header__link-container:hover {
  border-bottom: 3px solid #000000;

}

.header__link {
  font-family: 'Poppins600';
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.header__menu-button {
  display: none;
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.header__buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.header__icon {
  height: 1.2rem;
  width: auto;
}

.main {
  background-color: #95CFD5;
  padding-top: 5rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 150ms ease-in;
}

.main__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.main__description {
  width: 45%;
}

.main__title {
  font-family: 'Poppins700';
  font-size: 10rem;
  line-height: 1.2em;
  color: #FFFFFF;
}

.main__subtitle {
  font-family: 'Poppins500';
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #FFFFFF;
}

.main__button-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.main__button {
  padding: 0.9rem 5rem;
  background: #000000;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: 'Poppins500';
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 150ms ease-in;
}

.main__button:hover {
  background: #FFFFFF;
  color: #000000;

}

.main__button:active {
  box-shadow: none;
}

.main__video-button {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;

}

.main__video-button-text {
  font-family: 'Poppins500';
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #000000;
}

.main__video-button-image {
  width: 50px;
  height: 50px;
}

.main__video-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main__video-button svg circle,
.main__video-button svg path {
  transition: all 0.15s;
}

.main__video-button:hover svg circle:last-of-type {
  fill: #FFFFFF;
}

.main__video-button:hover svg path {
  fill: #000000;
}

.main__preview-slider-list {
  display: flex;
  justify-content: flex-start;
  gap: 1.1rem;
}

.main__preview-item {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.3rem 0.7rem;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  transition: all 150ms ease-in;

}

.main__preview-item:hover {
  cursor: pointer;
  background-color: #FFFFFF55;
}

.main__preview-item_selected {
  background-color: #FFFFFF;
}

.main__preview-item_selected:hover {
  background-color: #FFFFFF;
}

.main__product-image-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__product-image {
  height: auto;
  width: 100%;
  max-height: 70vh;
}

.main__slider-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.main__slider-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: initial;
  cursor: default;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  padding: 10%;
  transition: all 150ms ease-in;

}

.main__slider-radio:checked {
  background-color: white;
}

@media screen and (max-width:1280px) {
  .header__navigation {
    gap: 2rem;
  }

  .main__title {
    font-size: 7.5rem;
  }

  .main__button-container {
    gap: 1.2rem;
  }

  .main__button {
    padding: 1rem 3rem;
  }

}

@media screen and (max-width:1280px) {
  .main__button {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width:900px) {

  .header {
    position: relative;
    padding: 0 1rem;
  }

  .header__logo-container {
    position: absolute;
    right: 45%;
  }

  .header__flex-reverse {
    flex-direction: row-reverse;
  }

  .header__menu-button {
    display: block;
  }

  .header__navigation-list {
    display: none;
  }

  .header__buttons {
    justify-content: space-between;
    width: 100%;
  }

  .main {
    padding-top: 2rem;
    text-align: center;
  }

  .main__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  .main__title {
    font-size: 5rem;
  }

  .main__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .main__button-container {
    justify-content: center;
  }

  .main__button {
    padding: 1rem 4rem;
  }

  .main__video-button-text {
    display: none;
  }


  .main__preview-slider {
    display: none;
  }

  .main__product-image-container {
    width: 70%;
  }

  .main__slider-buttons-container {
    flex-direction: row;
  }

}

@media screen and (max-width:768) {
  :root {
    font-size: 12px;
  }


}