.wrapper {
  width: 755px;
  height: 459px;
  margin: 0 auto;
  padding: 27px 38px;
  background-color: #ffb084;
  display: grid;
  border-radius: 20px;
  margin-top: 60px;
  grid-template-columns: 1.3fr 1fr 1fr;
  gap: 18px 22px;
  font-family: "Work Sans", sans-serif;
}

.wrapper__box {
  border-radius: 20px;
  background-color: white;
  padding: 10px 25px;
  box-shadow: 6px 6px 0 2px black;
}

img {
  display: block;
  margin: 0 auto;
  height: 101px;
  width: 101px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

p,
li {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 25px;
}

.box1-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  grid-column: 1/1;
  grid-row: 1/5;
}

.box1-1 > div:nth-child(2) {
  margin-top: 28px;
  margin-bottom: 28px;
}

.wrapper__box__content > div:first-child {
  display: flex;
  justify-content: left;
  gap: 19px;
}

.wrapper__box__content > div {
  margin-bottom: 16px;
}

.box1-2 {
  grid-column: 1/1;
  grid-row: 5/6;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.box2-1 {
  grid-column: 2/4;
  grid-row: 1/1;
}

.box2-2 {
  grid-column: 2/2;
  grid-row: 2/3;
  box-shadow: 6px 6px 0 2px #29a71e;
}

.box2-2 h2 {
  color: #29a71e;
}

.box2-3 {
  grid-column: 2/2;
  grid-row: 3/6;
  box-shadow: 6px 6px 0 2px #3675b0;
}

.box2-3 h2 {
  color: #3675b0;
}

.box3-2 {
  grid-column: 3/3;
  grid-row: 2/4;
  box-shadow: 6px 6px 0 2px #e13535;
}

.box3-2 h2 {
  color: #e13535;
}

.box3-3 {
  grid-column: 3/3;
  grid-row: 4/6;
}
