.calendar__itemHeader {
  background-color: rgba(137, 43, 226, 0.66);
}

.calendar__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  transition: all 0.2s;
}

.calendar__item:hover {
  background-color: rgba(137, 43, 226, 0.66);
}

.calendar__subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.red {
  background-color: rgba(255, 0, 0, 0.179);
}

.blue {
  background-color: rgba(0, 0, 255, 0.163);
}

.yellow {
  background-color: rgba(234, 249, 23, 0.684);
}