* {
  margin: 0;
  padding: 0;
}

.football {
  padding: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 700px;
  background-color: green;
  position: relative;

}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  background-color: yellow;
  border-radius: 50%;
  z-index: 5;
}

.football_score {
  position: absolute;
  top: 0;
  display: flex;
  background-color: white;
}

.football_scoreLeft,
.football_scoreRight {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 28px;
}

.football__field {
  width: 600px;
  height: 600px;
  border: 2px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.football__fieldRight {
  justify-content: flex-end;
}

.football__goal {
  width: 80px;
  height: 180px;
  border: 3px solid white;
  border-radius: 0 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.1);

}

.football__goalRight {
  border-radius: 10px 0 0 10px;
}

.football__circleSmall {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 325px;
  background-color: white;
  border-radius: 50%;
}