:root {
  --brand-color: #FF8C42;
  --secondary-color-light: #FFDDC8;
  --secondary-color-dark: #151515;
  font-size: 16px;
}

@font-face {
  font-family: Kosugi;
  src: url('../fonts/Kosugi/Kosugi-Regular.ttf');
}

@font-face {
  font-family: Quicksand500;
  src: url("../fonts/Quicksand/Quicksand-500.ttf");
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.nav {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav__item {
  text-decoration: none;
  color: var(--secondary-color-dark);
  transition: all 100ms;
  font-size: 1.25rem;
}

.nav__item:hover {
  text-decoration: underline;
  color: var(--brand-color);
}