:root {
  --font1: "Poppins", sans-serif;
  --font2: "Roboto", sans-serif;
  --font3: "Merriweather", serif;
  --main-color: #111111;
  --secondary-color: #595959;
  --main-font-color: #ffffff;
  --p-font-color: #b2b2b2;
  --quote-color: #332200;
  --brand-color: #ffbb00;
  --button-color: #f6ad09;
  --secondary-button-color: #2e2e2e;
  --secondary-button-font-color: #cccccc;
}

body {
  background-color: F5F5F5;
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
}

.width-80 {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.yellow-dot {
  color: var(--brand-color);
}

.container {
  display: block;
  margin: 0 auto;
  color: var(--main-font-color);
}

.header {
  background: #000000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.logo {
  width: 158px;
  height: 32px;
  font-family: var(--font1);
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}

.nav-bar li {
  margin-right: 24px;
}

.nav-bar li:last-child {
  margin-right: 0;
}

.nav-bar a {
  font-family: var(--font1);
  color: var(--main-font-color);
}

.shop-description {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 6%;
}

.shop-description > div {
  width: 49%;
}

h1 {
  margin-top: 20%;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 64px;
}

.shop-description p {
  font-family: var(--font2);
  color: var(--p-font-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 52px;
}

.header-button {
  font-family: var(--font1);
  background-color: var(--button-color);
  color: var(--quote-color);
  padding: 17px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px;
}

.shop-description .image-container {
  width: 50%;
  box-sizing: border-box;
  height: 120%;
  overflow: hidden;
  position: absolute;
  left: 52%;
}

.main-text-container {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  color: var(--main-color);
  margin-left: 20%;
  margin-top: 125px;
  margin-bottom: 44px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  max-width: 30%;
}

.card div:first-child {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
}

.card-header div:first-child {
  margin-right: 9px;
}

.card h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: var(--main-color);
}

.card p {
  font-family: var(--font2);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-color);
  margin-left: 33px;
  margin-top: 10px;
}

.instruments {
  margin-top: 193px;
  background-color: var(--main-color);
  color: white;
  padding-bottom: 5%;
  padding-top: 2%;
}

.instruments > .content-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  position: relative;
}

.content-container > div {
  width: 45%;
  height: auto;
}

.content-container > div:first-child {
  width: 50%;
  margin-right: 5%;
}

.instruments {
  padding-top: 81px;
  padding-bottom: 91px;
  margin-bottom: 120px;
}

.instruments h2 {
  margin-top: 19px;
  margin-bottom: 42px;
}

.instruments p {
  font-family: var(--font2);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--p-font-color);
}

.instruments p:first-child {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.instruments .underline {
  font-family: var(--font1);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--brand-color);
  margin-top: 28px;
  margin-bottom: 69px;
}

.instruments .underline .text {
  border-bottom: 4px solid var(--brand-color);
  padding-bottom: 3px;
}
.instr-details {
  display: flex;
  justify-content: space-between;
  font-family: var(--font2);
  color: var(--p-font-color);
  font-weight: 400;
  font-size: 24px;
}

.instr-details > div {
  max-width: 48%;
}

.instruments h3 {
  font-family: var(--font1);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: white;
}

.instr-details-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.instr-details img {
  margin-right: 9px;
}

.instr-details .content-container {
  font-family: var(--font2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--p-font-color);
  margin-bottom: 28px;
}

.instrum-image-container {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  left: 52%;
  top: -18%;
  max-height: 141%;
  right: 3%;
}

.labels {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.labels h2 {
  color: var(--main-color);
  margin-top: 42px;
  margin-bottom: 42px;
}

.table {
  display: block;
  margin: 0 auto;
  max-width: 95%;
}

.table .row {
  display: flex;
  justify-content: space-between;
}

.table .row div {
  border: 2px solid #e0e0e0;
  width: 98%;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table .row div:last-child {
  margin-right: 0;
}

.labels img {
  max-width: 70%;
  height: auto;
}

.quote {
  margin-top: 108px;
  display: flex;
  justify-content: center;
}

.quote .image-container {
  width: 45%;
  height: 680px;
}

.quote .quote-container {
  width: 55%;
  height: auto;
  background-color: var(--brand-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.quote-container > div {
  margin: 0 0 10% 5%;
}

.quote-text {
  color: var(--quote-color);
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  font-family: var(--font3);
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  /* position: relative; */
}

.mark-top {
  position: relative;
  top: -13px;
}

.mark-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  bottom: -13px;
  left: -30px;
}

.quote-author {
  margin-top: 30px;
  margin-left: 40px;
  color: #664400;
  font-family: var(--font1);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.price {
  background-color: #161616;
  color: #ffffff;
  padding-bottom: 100px;
}

.price h2 {
  color: var(--main-font-color);
  padding: 73px 0;
}

.price-types {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
}

.price-types > div {
  width: 30%;
  background-color: var(--main-color);
  height: fit-content;
  border-radius: 7px;
}

.price-types > div:first-child {
  margin-right: 40px;
}

.price-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
  margin: 5%;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}

.price-header h3 {
  color: #9c9c9c;
}

.price-header div:last-child {
  text-align: right;
}

.price p {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 12px;
  padding-right: 7%;
  text-align: right;
  color: #9c9c9c;
}

.price ul {
  list-style-image: url("../images/list-style.svg");
  padding-left: 54px;
  margin-bottom: 41px;
}

.price li {
  font-family: var(--font2);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 18px;
}

.price a {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 28px;
  background-color: var(--secondary-button-color);
  color: var(--secondary-button-font-color);
  border-radius: 5px;
  transition: all 150ms ease-in;
}

.price a:hover {
  background-color: var(--brand-color);
  color: #000000;
}

.price .button-container {
  margin-bottom: 54px;
  margin-left: 15%;
}

.footer {
  background-color: var(--main-color);
  font-family: var(--font2);
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
}

.footer-top {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer h2 {
  font-family: var(--font1);
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
}

.footer h3 {
  font-family: var(--font2);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.footer li {
  color: #b2b2b2;
}

.footer-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.footer-icons div {
  padding-right: 32px;
}

.footer a {
  color: #b2b2b2;
  font-family: var(--font1);
  font-weight: 500;
  transition: all 150ms ease-in;
}

.footer a:hover {
  color: var(--brand-color);
}

.footer-bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #9c9c9c;
}
