:root {
  --main-color-dark: #212529;
  --main-color-light: white;
  --brand-color: #ffb742;
  --background: rgba(56, 62, 69, 0.44);
  --background-brand-color: rgba(255, 183, 66, 0.5);
  --background-footer: #1c1c1c;
  --footer-font-color: #7b7b7b;
  --footer-header: #f5fbf2;
  --font1: "Poppins", sans-serif;
  --font2: "Inter", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Work Sans", sans-serif;
}

body {
  background: var(--main-color-dark);
  color: var(--main-color-light);
}

.container {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: var(--font2);
}

h2 {
  font-family: var(--font3);
  font-size: 48px;
  line-height: 1.5em;
  margin-bottom: 25px;
  font-weight: 700;
}

h3 {
  display: inline-block;
  border-radius: 50px;
  font-family: var(--font1);
  font-weight: 600;
  padding: 10px 32px;
  font-size: 20px;
  background: var(--background);
  text-transform: uppercase;
  color: var(--brand-color);
}

p {
  font-family: var(--font1);
  font-size: 16px;
  line-height: 2rem;
  font-weight: 400;
}

.hire-me-button {
  padding: 12px 26px;
  background: #ffb742;
  border: 2px solid #ffb742;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--font1);
  color: var(--main-color-dark);
  text-decoration: none;
  transition: all 100ms ease-in;
}

.hire-me-button:hover {
  color: var(--main-color-light);
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font1);
  font-weight: 400;
  padding: 17px 50px;
  align-items: center;
}

.header img {
  width: 90px;
  height: 66px;
}

.header ul {
  display: flex;
  justify-content: center;
}

.header li {
  margin-left: 25px;
}

.header li:first-child {
  margin-left: 0;
}

.header ul a {
  color: var(--main-color-light);
  text-decoration: none;
  font-size: 18px;
}

.header ul a:hover {
  color: var(--brand-color);
  transition: all 100ms ease-in;
}

/* MAIN PART TOP */

.top {
  text-align: center;
  padding: 100px 0;
  text-transform: capitalize;
}

.brand-color {
  color: var(--brand-color);
  text-decoration: underline;
}

.top h2 {
  line-height: 2em;
  font-family: var(--font2);
}

.top p {
  font-weight: 400;
  font-size: 24px;
  line-height: 2rem;
  margin-bottom: 22px;
  font-family: var(--font2);
}

/* CARDS */

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 120px;
  width: 31%;
  align-items: center;
  background: var(--background);
  border-radius: 10px;
  transition: all 150ms ease-in;
  margin-bottom: 200px;
}

.card p {
  font-weight: 700;
  font-family: var(--font2);
  font-size: 16px;
}

.card:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
  color: var(--main-color-dark);
}
.card div p:first-child {
  font-size: 32px;
  margin-bottom: 15px;
}

.card div:first-child img {
  border-radius: 50%;
  background-color: #e9e9e9;
  padding: 30%;
}

/* ABOUT ME */

.about-me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about-me div:first-child {
  margin-right: 5%;
  max-width: 45%;
  box-sizing: border-box;
}

.about-me img {
  max-width: 100%;
}

.about-me div:last-child {
  max-width: 50%;
}

.button-container {
  margin-top: 60px;
}

/* SKILLS */

.skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 136px;
}

.skills > div {
  max-width: 48%;
}

table div {
  width: 100%;
  height: 80px;
  width: 80px;
  margin: 6px;
  background: var(--background);
  border-radius: 10px;
  transition: all 150ms ease-in;
}

table div img {
  display: block;
  margin: 0 auto;
  padding: 16px;
}

.skills th:hover div {
  background: var(--background-brand-color);
}

/* MY WORKS */

.my-works {
  text-align: center;
  margin-bottom: 135px;
}

.my-works ul {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.my-works li {
  font-family: var(--font1);
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  padding: 5px 20px;
  margin-left: 24px;
  transition: all 150ms ease-in;
}

.my-works li:hover {
  color: var(--main-color-dark);
  background-color: var(--brand-color);
  border-radius: 3px;
  cursor: pointer;
}

.my-works li:first-child {
  margin-left: 0;
}

.works-grid {
  display: flex;
  justify-content: space-evenly;
}

.works-grid div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
}

.margin-y {
  margin-bottom: 15px;
}

.margin-x {
  margin-left: 15px;
  margin-right: 15px;
}

/* TESTIMONIALS */

.testimonials {
  text-align: center;
}

.testimonials h2 {
  font-size: 40px;
}

.testimonials .test-cards {
  margin-top: 90px;
  margin-bottom: 253px;
  display: flex;
  justify-content: space-evenly;
}

.test-cards div {
  box-sizing: border-box;
  max-width: 32%;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  background: var(--background-footer);
  padding: 148px 0 93px;

  line-height: 2em;
}

.footer div {
  max-width: 23%;
}

.footer h2 {
  color: var(--brand-color);
  font-family: var(--font1);
  font-size: 32px;
}

.footer-deskription {
  color: #d4d4d4;
  font-family: var(--font4);
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: var(--footer-header);
}
.footer a {
  font-family: var(--font4);
  font-weight: 500;
  font-size: 16px;
  color: var(--footer-font-color);
  text-decoration: none;
  transition: all 150ms ease-in;
}

.footer a:hover {
  color: var(--brand-color);
}

.paragraph {
  color: var(--footer-font-color);
  font-size: 18px;
}
