* {
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(0deg, #23b071 0%, #649544 100%); */
  background-image: url("../img/cash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.999);
  padding: 0 15px;
  width: fit-content;
  font-size: 12px;
  text-align: left;
  /* margin: 0 auto; */
}

.header__title {
  text-align: center;
}

.app {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 15px;
}



.app__item {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;

}

.app__select {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#app__toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms;
}

#app__toggleButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.app__inp {
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  margin: 0;
}

.app__autoFill {
  background-color: white;
  width: 100%;
  position: absolute;
  height: auto;
  width: 500px;
  max-width: 90%;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 12px #bbbbbb;
  text-align: left;
}

.app__suggestedEl {
  padding: 10px;
  transition: all 150ms;
}

.app__suggestedEl:hover,
.app--hoverEl {
  background-color: #bbbbbb;
  cursor: pointer;
}


.app__result {
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(256, 256, 256, 0.9);
  text-align: left;
}

.app__label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  color: white;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  color: rgb(255, 255, 255);

}

.data__item {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.5fr;
  padding-bottom: 5px;
  transition: all 150ms;

}

.data__item:nth-child(even) {
  border: none;
  padding-left: 15px;
}

@media screen and (max-width:900px) {
  .data {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .data__item {
    border: none;
    padding-left: 15px;
  }

  .app__item {
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    gap: 5px;
  }

  .app__label {
    text-align: left;
  }

  #app__toggleButton {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .app__inp {
    width: 100%;
  }
}