.Card {
  width: 300px;
  height: 500px;
  border: 20px solid rgba(255, 225, 0, 0.949);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: #636363;
  box-shadow: 0px 0px 10px rgb(52, 45, 255);
}

.Card:hover {
  box-shadow: 0px 0px 20px rgb(219, 2, 2);
}

.Card__imgWrapper {
  width: 200px;
  height: 200px;
  background-color: rgb(14, 14, 14);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Card__img {
  width: 90%;
  height: auto;
}

.Card__title {
  margin: 0;
  color: rgb(255, 225, 0);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: rgb(14, 14, 14);
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

.Card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(14, 14, 14);
  color: bisque;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Card__listItem {
  display: flex;
  justify-content: space-between;
}

.Card__linkWrapper {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.Card__link {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 24px;
  color: black;
  background-color: rgb(255, 225, 0);
  border: 1px solid black;
  box-shadow: 5px 5px rgb(219, 2, 2);
  border-radius: 10px;
  transition: all 0.2s;
}

.Card__link:hover {
  box-shadow: none;
  border: 1px solid rgb(255, 225, 0);
  background-color: rgb(219, 2, 2);
  color: rgb(255, 225, 0);

}