:root {
  --tabs-number: 3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  display: block;
  margin: auto;

}

.header {
  text-align: center;
}

.header__img {
  margin-bottom: 15px;
  margin-top: 15px;
}

.tab {
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.tab__navigation {
  display: flex;
  justify-content: stretch;

}

.tab__title {
  padding: 10px;
  width: calc(100%/var(--tabs-number));
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.tab__title:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.tab__title.active {
  background-color: white;
  cursor: auto;
}

.tab__title_active:hover {
  background-color: white;
  cursor: auto;
}

.tab__item {
  display: none;
  padding: 20px;
  width: 100%;
  height: fit-content;
  text-align: justify;
  line-height: 1.2rem;
  transition: all 0.2s;
  overflow: hidden;
  box-sizing: border-box;
}

.tab__item.active {
  display: block;
}