:root {
  --bg-color: #4b694d;
  --color-num: #fffde7;
  --color-sign: #c39059;
  --color-inp: #6b8f6e;
  font-family: Courier, monospace;
}

body {
  background-color: #c3905933;
  min-width: 350px;
}

.header {
  text-align: center;

}

.calculator {
  width: fit-content;
  background-color: var(--bg-color);
  font-size: 16px;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.calculator__input {
  width: 240px;
  height: 80px;
  margin: 18px;
  background-color: var(--color-inp);
  color: var(--color-num);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-radius: 15px;
  text-align: right;
  vertical-align: baseline;
  font-size: 48px;
  padding: 0 20px;

}

.calculator__input::placeholder {
  opacity: 1;
  color: var(--color-num);
}

.calculator__grid {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 20px;
  padding: 10px 32px 30px;
}

.calculator__grid>div {
  line-height: 50px;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.calculator__grid>div:active {
  animation: 0.3s animateButtons;
}

.calculator__grid>div:nth-child(17) {
  grid-row: 5;
  grid-column: 1/3;
}

.sign,
.clear,
.toggle-sign,
.result,
.percent {
  background-color: var(--color-sign);
}

.number,
.dot {
  background-color: var(--color-num);
  color: var(--bg-color);
}



@keyframes animateButtons {

  50% {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: translate(-1px, -1px);

  }
}