body {
  background-image: linear-gradient(0deg, #23b071 0%, #0898cd 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__title {
  text-align: center;
}

.app {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(256, 256, 256, 0.2);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 15px;
}



.app__item {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;

}

.app__select {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.reverse>.app__currency1Container {
  grid-column: 3/4;
  grid-row: 1/2;
}

.app__toggleButton {
  grid-column: 2/3;
  grid-row: 1/2;
}

.reverse>.app__currency2Container {
  grid-column: 1/2;
  grid-row: 1/2;
}

#app__toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
}


.app__inp {
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  box-sizing: border-box;
  background-color: rgba(256, 256, 256, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  margin: 0;
}

.app__result {
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(256, 256, 256, 0.2);
  text-align: left;
}

.app__label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  color: white;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(256, 256, 256, 0.2);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);

}

.data__item {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.5fr;
  padding-bottom: 5px;

}

.data__item:nth-child(even) {
  border: none;
  padding-left: 15px;
}

@media screen and (max-width:900px) {
  .data {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .data__item {
    border: none;
    padding-left: 15px;
  }

  .app__item {
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    gap: 5px;
  }

  .app__label {
    text-align: left;
  }

  #app__toggleButton {
    margin-top: 10px;
    rotate: 90deg;
    padding-top: 0;
  }

  .app__inp {
    /* margin-bottom: 15px; */
    width: 100%;
  }

  .reverse>.app__currency1Container {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .app__toggleButton {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .reverse>.app__currency2Container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

}