:root {
  font-size: 16px;
  --light-font-color: white;
  --brand-color: rgb(255, 132, 0);
  --brand-color-transparrent: rgba(255, 132, 0, 0.7);
  --dark-font-color: black;
  --border-color: lightgrey;
  --hover-border-color: grey;
  --brand-gradient: linear-gradient(36deg, rgba(255, 132, 0, 1) 0%, rgb(251, 178, 31) 90%);
  --bold-font-family: "Quicksand bold";
  --regular-font-family: "Quicksand regular";
  font-family: var(--regular-font-family);
}

@font-face {
  font-family: "Quicksand regular";
  src: url("../fonts/Quicksand/Quicksand-500.ttf");
}

@font-face {
  font-family: "Quicksand bold";
  src: url("../fonts/Quicksand/Quicksand-700.ttf");
}

* {
  box-sizing: border-box;
}

.header {
  box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.7);
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
}

.header__wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}


.header__logo {
  width: auto;
  height: 60px;
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__navItem {
  display: inline-block;
}

.header__navLink {
  text-decoration: none;
  transition: all 1s;
  font-size: 1.2rem;
  color: var(--brand-color);
}

.header__navLink:hover {
  text-decoration: underline;
}

.header__iconWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header__icon {
  width: 30px;
  height: auto;
  transition: all 150ms;
}

.header__icon:hover {
  transform: scale(1.1);
}

.header__themeIcon {
  width: 60px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/header/dark-mode-toggle-icon.png");
  /* transition: all 150ms; */
}

.header__themeIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header__dayThemeIcon {
  background-image: url("../img/header/light-mode-toggle-icon.png");
}

/*  --------   Page 1 - Hero ------------ */

.hero {
  margin-top: 60px;
  margin-bottom: 7%;
  height: 90vh;
  width: 100%;
  background-image: url(../img/hero/ivan-torres-MQUqbmszGGM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-font-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero__content {
  padding-left: 10%;
  max-width: 50%;
}

.hero__title {
  font-family: var(--bold-font-family);
  font-size: 48px;
  line-height: 56px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.hero__title--brandFontColor {
  color: var(--brand-color);
}

.hero__text {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 15px;
}

.hero__orderBtnContainer {
  margin-bottom: 10%;
}

.hero__orderBtn {
  text-decoration: none;
  padding: 14px 32px;
  line-height: 48px;
  border: 1px solid var(--brand-color);
  border-radius: 25px;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.7);
  transition: all 0.2s;
}

.hero__orderBtn:hover {
  color: var(--dark-font-color);
  border: 1px solid var(--dark-font-color);
  box-shadow: none;
}

.hero__results {
  display: flex;
  justify-content: flex-start;
  gap: 12%
}

.hero__resultsItem {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.hero__iconContainer {
  border: 2px solid var(--light-font-color);
  padding: 5px;
  border-radius: 5px;
}

.hero__resultsSubtitle {
  color: var(--brand-color);
  font-family: var(--bold-font-family);
}

.hero__icon {
  width: auto;
  height: 30px;
}

/* menu */

.menu {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 90%;
}

.menu__text {
  font-family: var(--bold-font-family);
  text-align: center;
  color: var(--brand-color);
  text-transform: uppercase;
}

.menu__title {
  font-family: var(--bold-font-family);
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-font-color);
  font-size: 2rem;
  margin: 1rem 0 3rem;
}

.menu__nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.menu__navItem {
  border: 2px solid var(--brand-color);
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 150ms;
  cursor: pointer;
  color: var(--brand-color);
  background-color: var(--light-font-color);
}

.menu__navItem:hover {
  background-color: var(--brand-color);
  color: var(--light-font-color);
}

.menu__items {
  display: grid;
  /* justify-content: center; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.menu__item {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 2px 2px 10px lightgray;
  padding: 10%;
  transition: all 150ms;
}

.menu__item:hover {
  border: 1px solid var(--hover-border-color);
}

.menu__imgContainer {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  /* border: 1px solid var(--border-color); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__contenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
  line-height: 1.2rem;
}

.menu__itemTitle {
  font-family: var(--bold-font-family);
  color: var(--brand-color);
  font-size: 1.5rem;
  margin: 15px 0 10px;
}

.menu__itemDescription {
  font-size: 0.7rem;
  opacity: 0.8;
}

.menu__pizzaSizeWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menu__pizzaSize {
  padding: 5px 15px;
  transition: all 150ms;
}

.menu__pizzaSize:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--dark-font-color);
  color: var(--light-font-color);
}

.menu__priceContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20%;
  font-size: 1.5rem;
  color: var(--brand-color);
  margin: 10px 0;
}


.menu__selectAmountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu__amount {
  font-size: 1.5rem;
  color: var(--dark-font-color);
  width: 2rem;
}

.menu__changeAmountBtn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brand-color);
  border-radius: 50%;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
}

.menu__changeAmountBtn:hover {
  cursor: pointer;
}

.menu__addToCartBtn {
  border: 2px solid var(--brand-color);
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 150ms;
  cursor: pointer;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
  width: 85%;
  box-shadow: 2px 2px 5px var(--hover-border-color);
}

.menu__addToCartBtn:hover {
  background-image: none;
  background-color: var(--light-font-color);
  color: var(--dark-font-color);
  box-shadow: none;
}

.menu__selectAllBtnContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__selectAllBtn {
  border: 2px solid var(--brand-color);
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 150ms;
  cursor: pointer;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
}

.menu__selectAllBtn:hover {
  background-image: none;
  color: var(--dark-font-color);
  background-color: var(--light-font-color);
}

/* --------------------     constructor     ----------------------- */

.constructor {
  min-height: 80vh;
  width: 100%;
  padding: 0 10%;
  margin-top: 60px;
}

.constructor__contentWrapper {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.constructor__text {
  font-family: var(--bold-font-family);
  text-align: center;
  color: var(--brand-color);
  text-transform: uppercase;
}

.constructor__title {
  font-family: var(--bold-font-family);
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-font-color);
  font-size: 2rem;
  margin: 1rem 0 3rem;
}

.constructor__formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.constructor__formItemTitle {
  font-family: var(--bold-font-family);
  color: var(--brand-color);
  font-size: 1.5rem;
}

.form__inputContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 5px;
}

.form__inputContainer--pizzaSize {
  grid-template-columns: 120px 120px 120px;
}

.constructor__formTotal,
.constructor__totalPrice {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.constructor__formTotalBill {
  font-size: 0.7rem;
  line-height: 1rem;
  opacity: 0.8;
  padding-top: 15px;
}

.constructor__img {
  position: absolute;
  width: 450px;
  height: 450px;
}

.constructor__billItemSize,
.constructor__billItem,
.constructor__billItemSouce {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.constructor__billItem,
.constructor__billItemSouce {
  border-top: 1px dotted var(--border-color);
}

.constructor__totalPrice {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
}

.constructor__addToCartBtn {
  border: 2px solid var(--brand-color);
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 150ms;
  cursor: pointer;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
  margin-bottom: 20px;
}

.constructor__addToCartBtn:hover {
  background-image: none;
  background-color: var(--light-font-color);
  color: var(--dark-font-color);
}

/* ------------------  about  ------------------ */

.about {
  display: grid;
  grid-template-columns: 1fr 1.5fr;

  gap: 3%;
  padding: 7% 10%;
  background-image: url(../img/about/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 7% 0;
  font-size: 1rem;
}

.about__imgContainer {
  /* width: 400px;
  height: 300px; */
  min-height: 40vh;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/about/main-img.jpg);
}

.about__text {
  text-align: left;
  color: var(--brand-color);
  text-transform: uppercase;
}

.about__title {
  font-family: var(--bold-font-family);
  text-align: left;
  text-transform: capitalize;
  color: var(--dark-font-color);
  font-size: 2rem;
  margin: 1rem 0 2rem;
}

.about__description {
  line-height: 1.5rem;
}

/* ------------------    review     --------------------- */

.review {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1.2fr;
  padding: 5% 7%;
  min-height: 60vh;
  margin-bottom: 40px;
}

.review__subtitle {
  font-family: var(--bold-font-family);
  text-align: left;
  color: var(--brand-color);
  text-transform: capitalize;
  font-size: 1.1rem;
}

.review__title {
  font-family: var(--bold-font-family);
  text-align: left;
  text-transform: capitalize;
  color: var(--dark-font-color);
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
}

.review__text {
  line-height: 1.5rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.review__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__bracket {
  width: 60px;
  height: auto;
}

.review__bracket:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.review__cards {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  /* justify-content: flex-start; */
  gap: 20px;
}

.review__card {
  height: 300px;
  text-align: center;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 1px 8px var(--border-color);
  padding-top: 40px;
}

.review__cardImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  z-index: 5;
}

.review__cardText {
  font-size: 0.7rem;
  line-height: 16px;
  opacity: 0.8;
  box-sizing: border-box;
  overflow: hidden;
}

.review__cardTitle {
  font-family: var(--bold-font-family);
  font-size: 0.9rem;
}

.review__cardStarRate {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

.review__cardStarContainer {
  background-image: url('../img/review/star.svg');
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.review__cardGreyStarContainer {
  filter: grayscale();
}

/* --------       staff        -------------- */

.staff {
  background-image: url("../img/staff/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
}

.staff__content {
  text-align: center;
  padding: 0 10% 3%;
}

.staff__subtitle {
  color: var(--brand-color);
  text-transform: uppercase;
}

.staff__title {
  font-family: var(--bold-font-family);
  text-transform: capitalize;
  color: var(--dark-font-color);
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
}

.staff__text {
  font-family: var(--bold-font-family);
  line-height: 1.5rem;
  opacity: 0.8;
  margin-top: 1rem;
}


.staff__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.staff__card {
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
}

.staff__card:hover .staff__cardContent {
  background-color: var(--brand-color-transparrent);
}

.staff__cardContent {
  width: 90%;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.5s;
  box-sizing: border-box;
  overflow: hidden;
}

.staff__cardTitle {
  font-family: var(--bold-font-family);
}

.staff__cardSocialMediaLinksContainer {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.5s;
}

.staff__card:hover .staff__cardSocialMediaLinksContainer {
  display: flex;
}

.staff__socialIcon {
  height: 20px;
  width: auto;
}

/* ------------------   delivery   ---------------- */

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 10% 7%;
}

.delivery__contentConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.delivery__title {
  font-family: var(--bold-font-family);
  color: var(--brand-color);
  font-size: 1.5rem;
  margin: 1rem 0 1rem;

}

.delivery__text {
  font-family: var(--bold-font-family);
  line-height: 1.5rem;
  opacity: 0.8;
  margin-top: 1rem;
}

.delivery__orderBtn {
  font-family: var(--bold-font-family);
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid var(--brand-color);
  border-radius: 25px;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
  box-shadow: 2px 2px 15px var(--brand-color);
  transition: all 0.2s;
}

.delivery__orderBtn:hover {
  cursor: pointer;
  color: var(--dark-font-color);
  border: 1px solid var(--dark-font-color);
  box-shadow: none;
}

.delivery__imgContainer {
  width: 50%;
  min-height: 60vh;
  height: auto;
  background-image: url("../img/delivery/claudio-schwarz-4H9xt2DNgNc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}


/* ----------     map     ------------ */
.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  background-image: url("../img/map/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  /* height: 90vh; */
}

.map__iframe {
  width: 800px;
  height: 300px;
  border-radius: 20px;
  filter: grayscale();
}

.map__adress {
  font-family: var(--bold-font-family);
  color: var(--dark-font-color);
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* --------------------reservation------------------ */

.reservation {
  background-image: url("../img/reservation/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
}

.reservation__wrapper {
  width: max-content;
  background-color: var(--light-font-color);
  width: 50%;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.reservation__title {
  font-family: var(--bold-font-family);
  background-color: var(--brand-color);
  color: var(--light-font-color);
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
}

.reservation__contentContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.reservation__subtitle {
  font-family: var(--bold-font-family);
  color: var(--dark-font-color);
  font-size: 1.1rem;
}

.reservation__text {
  color: var(--brand-color);
  font-size: 0.7rem;
}

.reservation__workingHours {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 5px;
}

.reservation__workingHours:not(:last-of-type) {
  border-bottom: 2px dashed var(--brand-color);
}

.reservation__callToAction {
  opacity: 0.8;
  margin: 10px 0 15px;
}

.reservation__form {
  width: 85%;
}

.reservation__formDiv {
  /* display: flex;
  justify-content: space-between;
  gap: 15px; */
  margin-bottom: 10px;
}

.reservation__input {
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.reservation__formDiv--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation__input--flex {
  padding: 7px;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

.reservation__bookBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.reservation__bookBtn {
  font-family: var(--bold-font-family);
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid var(--brand-color);
  border-radius: 25px;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
  box-shadow: 2px 2px 15px var(--brand-color);
  transition: all 0.2s;
}

.reservation__bookBtn:hover {
  cursor: pointer;
  color: var(--dark-font-color);
  border: 1px solid var(--dark-font-color);
  box-shadow: none;
}

.footer {
  padding: 7%;
}

.footer__logo {
  width: auto;
  height: 50px;
}

.footer__contentContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
  font-size: 0.8rem;
}

.footer__title {
  margin-bottom: 1rem;
  font-family: var(--bold-font-family);
  color: var(--brand-color);
  font-size: 1.1rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}

.footer__subscribeFormContainer {
  border: 2px solid var(--brand-color-transparrent);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 25px;
}

.footer__subscribeInput {
  border: none;
  padding: 0 7px 0;
}

.footer__subscribeBtn {
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid var(--brand-color);
  border-radius: 25px;
  background-image: var(--brand-gradient);
  color: var(--light-font-color);
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.7);
  transition: all 0.2s;
}

.footer__socialMediaLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer__socialMediaIcon {
  margin-top: 1rem;
  height: 1rem;
  width: auto;
}

.footer__footer {
  margin-top: 5%;
  padding-top: 20px;
  border-top: 3px solid var(--dark-font-color);
  text-align: center;
}

/* hidden and selected class */

.hidden {
  display: none;
}

.selected {
  background-color: var(--brand-color);
  color: var(--light-font-color);
}

.flex-reverse {
  flex-direction: row-reverse;
}
