.blue {
  color: blue;
}

.red {
  color: rgb(218, 83, 60);
}

ul {
  list-style: none;
}

.main {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

.timer-container {
  margin: 0;
  width: 100%;
  height: 110px;
  padding: 15px 0;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0px 10px 10px grey;
}

.timer {
  width: 110px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  font-size: 36px;
  padding: 20px;
  border: 3px solid rgb(1, 61, 144);
  color: rgb(1, 61, 144);
  border-radius: 15px;
  background-color: lavender;

}

.timer__btn {
  font-size: 28px;
  vertical-align: middle;
}

.timer__btn:hover {
  cursor: pointer;
  font-weight: 700;
}

.hidden {
  height: 1px;
  margin: -1px;
  visibility: hidden;
  font-size: 1px;
  box-sizing: border-box;
  overflow: hidden;
}

.form {
  margin: auto;
  margin-top: 160px;
  width: 1000px;
}